<p style="color: green"><%= notice %></p>

<h1>一覧</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
         <style>
        index{
            font-size: 20px;
            
          }
    </style>
</div>

<%= link_to "New post", new_post_path %>
